@import "tailwindcss";



@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: IRANSans !important;
}

h1,
h2,
h3,
h4,
p,
span,
a {
  font-family: IRANSans !important;

}

/* جلوگیری از حذف کلاس‌های ProseMirror */
.ProseMirror * {
  all: revert;
}

.ProseMirror {
  min-height: 220px;
  outline: none;
}

.ProseMirror p {
  margin: 0.4rem 0;
}

.ProseMirror h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.ProseMirror h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.ProseMirror pre {
  background: #111827;
  color: #e5e7eb;
  padding: 0.75rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.website {

  /* width: 400px; */
  /* box-shadow: 0 0 50px rgb(155 162 193 / 37%); */
  /* height: 370px; */

}